
AFRICASTALKING_API_KEY=
NEXTAUTH_URL=http://localhost:3000/
NEXT_PUBLIC_SITE_URL=http://localhost:3000/
TWILIO_MESSAGING_SERVICE_SID=
TWILIO_AUTH_TOKEN=
TWILIO_ACCOUNT_SID=
CONVEX_SITE_URL=
AUTH_SECRET=
AUTH_GOOGLE_SECRET=
AUTH_GOOGLE_ID=
CONVEX_DEPLOYMENT=
NEXT_PUBLIC_CONVEX_URL=
